 body {
  padding:20px;
 	
 }
 header {
	 display: flex;
 }
 h3 { 
 	color:#FFFFFF;
	font-size:40px;
	text-align:center;
 	}
  table, tr, th, td {
  border:1px solid gray;
  border-collapse:collapse;
  }
  td, th {
  padding: 10px;
  }
  
.static-div {
	min-height:100px;
	background:#292F33;
	padding:30px;
	
}

img {
	float:right;
	width:150px;
}
.half {
	width:50%;
}
