 body {
  padding:20px;
 	
 }
 h3 { color:white; }
  table, tr, th, td {
  border:1px solid gray;
  border-collapse:collapse;
  }
  td, th {
  padding: 10px;
  }
  
.static-div {
	min-height:100px;
	background:#292F33;
	padding:30px;
}
.my-btn {
	border-radius:0;
	border:none;
	background:#EA4335;
	color:white;
	font-size:20px;
	padding:5px;
}

.my-btn:hover {
	box-shadow:0 0 2px white;
}

.my-btn:active {
	background:#EA6355;
}
img {
	float:right;
	width:150px;
}

